<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Province</title>
</head>
<body>
<h3>Provinces</h3>
<p>
    <a class="no-underline" th:href="@{/types/create}">
        ADD NEW TYPE
    </a>
</p>
<p>
    <a class="no-underline" th:href="@{/types}">
        BACK TYPE COMPUTER
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id = "typeComputer">
    <thead>
    <tr>
        <th>STT</th>
        <th>NAME</th>
        <th>IMAGE</th>
        <th>DELETE</th>
        <th>VIEW</th>
        <th>UPDATE</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="t, pStatus : ${type}">
        <td th:text="${pStatus.count}"></td>
        <td th:text="${t.getName()}"></td>
        <td><img width="100" height="100" th:src="@{'/image/' + ${t.getImage()}}" alt="" src=""></td>
        <td><a class="no-underline" th:href="@{/types/delete/{id}(id=${t.getId()})}"><i class="fa-solid fa-trash"></i></a></td>
        <td><a class="no-underline" th:href="@{/types/view/{id}(id=${t.getId()})}"><i class="fa-sharp fa-solid fa-eye"></i></a></td>
        <td><a class="no-underline" th:href="@{/types/update/{id}(id=${t.getId()})}"><i class="fa-solid fa-pen-to-square"></i></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
